 # to clear lcd message use UPDATE_DELAYED_GCODE ID=SCHEDULE_CLEAR_SCREEN DURATION=5


[gcode_macro CLEAR_SCREEN]
gcode:
  M117

[delayed_gcode SCHEDULE_CLEAR_SCREEN]
gcode: 
  CLEAR_SCREEN

[gcode_macro PRINT_LCD]
gcode:
  M117 Printer goes brr

[delayed_gcode SCHEDULE_PRINT_LCD]
gcode: 
  PRINT_LCD  # to show lcd message use UPDATE_DELAYED_GCODE ID=SCHEDULE_PRINT_LCD DURATION=5

[delayed_gcode shutdown_machine]
gcode:
     {action_call_remote_method("shutdown_machine")}    
initial_duration: 0.0

[menu __main __poweroff]
type: command
enable: {printer.idle_timeout.state != "Printing"}
name: Turn off Pi
gcode:
     SET_DISPLAY_TEXT MSG="Shutdown_RPI"
     M118 Shutdown_RPI
     { menu.exit() }    
     UPDATE_DELAYED_GCODE ID=shutdown_machine DURATION=1